@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
margin: 0; line-height: normal;
}
:root {
    --Background-color: #FEF6F4;
    --Dark: #0A3542;
    --Secondary: #D6453B;
    --Light: #EF6B63;
    --Primary: #335C64;
    
  }
.Primary {
    color:var(--Primary)!important;
}
.Background_Color{
    color:var(--Background-color)!important;
}
.Light{
    color:var(--Light)!important;
}
.Dark{
    color:var(--Dark)!important;
}
.Secondary{
    color:var(--Secondary) !important;
}
/*

Typefaces/fonts
*/
.AboutMe{
 background-color: var(--Primary);
}

.Header_Big {
        position: relative;
        font-size: 92px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Poppins;
        color: var(--Light);
        text-align: left;
}
.Header_Sub {
        position: relative;
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: Poppins;
        color: var(--Background-color);
        text-align: left;
}
.Header_Titles {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Poppins;
    color: var(--Primary);
    text-align: left;
    }
.BodyCopy {
    
    position: relative;
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
    font-family: Poppins;
    color: var(--Dark);
    text-align: left;
    margin: 10px;
}
.Bullets {
    position: relative;
    font-size: inherit;
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    font-family: Poppins;
    color: var(--Dark);
    text-align: left;
}
.Bullets_Center{
    position: relative;
    font-size: inherit;
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    font-family: Poppins;
    color: var(--Background-color);
    text-align: left;
}

/*Images*/
.Img_headshot {
    position: relative;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 282px;
    height: 282px;
    }
.Img-1, .Img-2, .Img-3{
    position: relative;
    background-color: #d9d9d9;
    max-width: 557px;
    max-height: 444px;
    }
/*Containers*/
.TitleCopy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    }
.Title_container {
    position: relative;
    top: 0%;
    display: flex;
    margin: 5em;
    margin-top: 0em;
    padding-top: 10em;
    margin-bottom: 10em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    }
.Container  {
    position: relative;
    top: 30%;
    display: flex;
    margin: 10px;
    margin-top: 10em;
    margin-bottom: 10em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    }
.flip {
    flex-wrap: wrap-reverse;
    }
.CopyBlock  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 45px;
    padding: 10px;
    max-width: 40em;
    
    }
.TextCopyCOL{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.TextCopyROW{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.Center_Bullets{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.BulletsBlock {
    max-width: 410px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 38px;
    font-size: inherit;
    font-family: inherit;
    }
.otherBlock{
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    white-space: pre-wrap;
    display: inline-block;
    width: 40em;
    height: 12em;
    flex-shrink: 0;
}
.Wide{
    width: 40em;
}
.GameBlock{
    align-items: flex-start;
    justify-content: flex-start;
}
.InnerContainer  {
    position: relative;
    display: flex;
    margin: 0em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    }
    .so-your-here {
    margin: 0;
    }
    .so-your-here-container {
    position: relative;
    text-transform: uppercase;
    }
    .my-name-is-container {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    white-space: pre-wrap;
    display: inline-block;
    width: 636px;
    height: 191px;
    flex-shrink: 0;
    }
    .gtkm-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 43px;
    }
    .gtkm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 93px;
    gap: 60px;
    }
    .oh-you-want-container {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    width: 677px;
    }
    .bullets2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    }
    .under-water-basket {
    margin: 0;
    padding-left: 32px;
    }
    .bullets {
    width: 410px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 38px;
    font-size: inherit;
    font-family: inherit;
    }
    .hobbies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    }
    .img-2 {
    position: relative;
    background-color: #d9d9d9;
    }
    .hobbies-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 73px;
    gap: 60px;
    }
    .truths-and-a {
    position: relative;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: -20px;
    }
    .button-i {
    margin-bottom: 0px;
    }
    .button-i-container {
    position: relative;
    font-size: inherit;
    text-transform: uppercase;
    font-family: inherit;
    }
    .game-hoby {
    background-color: var(--Primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px 466px;
    gap: 100px;
    width: 100vw;
    }
    .im-looking-for-container {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    width: 521px;
    flex-shrink: 0;
    min-width: 500px;
    }
    .asperations-coppy {
    width: 1139px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 61px;
    font-size: 24px;
    }
    .asperations-body {
    width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 150px;
    box-sizing: border-box;
    gap: 12px;
    }
    .well-thats-all {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    width: 677px;
    flex-shrink: 0;
    }
    .last-segment {
    background-color: var(--Light);
    box-sizing: border-box;
    width: 1439px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 110px 382px;
    margin-bottom: 10em;
    }
    .icons-child {
    position: relative;
    background-color: #d9d9d9;
    width: 44px;
    height: 44px;
    }
    .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 49px;
    }
    .name-icons2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    }
    .btn-resume {
    position: relative;
    background-color: #d9d9d9;
    width: 190px;
    height: 60px;
    }
    .name-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 26px;
    }
    .coppyright-digitalbynatecom {
    position: relative;
    font-size: 10px;
    text-transform: uppercase;
    }
    .txt-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 125px;
    }
    .fire {
    align-self: stretch;
    flex: 1;
    position: relative;
    background-color: #d9d9d9;
    }
    .footer {
    width: 1439px;
    height: 475px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 30px 0px 60px;
    box-sizing: border-box;
    gap: 185px;
    min-height: 400px;
    }
    .body {
    position: relative;
    background-color: var(--Background-color);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .about-me {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 3735px;
    overflow: hidden;
    text-align: left;
    font-size: 56px;
    color: #000;
    font-family: Poppins;
    }

/*-=-=-=-=-=-=-=-=- RESPONCIVE -=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width: 700px) {
    .Header_Big{
        font-size: 50px;
    }
    .Header_Sub{
        font-size: 25px;
    }
    .Header_Titles{
        font-size: 44px;
    }
    .BodyCopy, .Bullets{
       font-size: 22px; 
    }
    .Container  {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    .Img-1, .Img-2, .Img-3{
        width: 100%;
        margin: 20px;
        }
    .last-segment{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

    }
    .BulletsBlock {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 600px) {
    .BodyCopy, .Bullets, .Bullets_Center{
       font-size: 18px; 
    }
    .Wide{
        width: 75%;
    }
}
@media (max-width: 500px) {
    .BodyCopy, .Bullets, .Bullets_Center{
       font-size: 20px; 
    }
    .Container{
        margin-top: 80px;
        margin-bottom: 80px;
    }
}
@media (max-width: 400px) {
    .Header_Big{
        font-size: 40px;
    }
    .Header_Titles{
        font-size: 32px;
        text-align: center;
    }
    .Header_Sub{
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
    }
    .BodyCopy, .Bullets{
       font-size: 18px; 
    }
    .BulletsBlock {
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}