
/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
/*░██████╗░░█████╗░██████╗░░█████╗░██╗░░░░░██╗░░░░░░█████╗░██╗░░██╗░
/*░██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║░░░░░██║░░░░░██╔══██╗╚██╗██╔╝░
/*░██████╔╝███████║██████╔╝███████║██║░░░░░██║░░░░░███████║░╚███╔╝░░
/*░██╔═══╝░██╔══██║██╔══██╗██╔══██║██║░░░░░██║░░░░░██╔══██║░██╔██╗░░
/*░██║░░░░░██║░░██║██║░░██║██║░░██║███████╗███████╗██║░░██║██╔╝╚██╗░
/*░╚═╝░░░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝░
/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
/*
/*          -------- PARALLAX CSS --------
/*
/*  */


.paralaxBox{
    position: relative;
    top: 30vh;
    margin-top: 15%;
  }
  .mountains1{
    margin-top: -5%;
    width: 100vw;
    z-index: 0;
    position: absolute;
  }
  .tree2{
    margin-top: -15%;
    margin-left: auto;
    right: 0;
    width: 40%;
    position: absolute;
    z-index: 10 !important;
  }
  .tree3{
    margin-top: 0%;
    width: 100vw;
    z-index: 10 !important;
    position: absolute;
  }
  .paralaxSpacer{
    height: 2vh;
  }
  
.BG1 {
    background-color: var(--Primary);
    height: 100vw;
    width: 100%;
    z-index: 8 !important;
    position: relative;
    
  }

@media (max-width:1000px){
  .tree3{
    margin-top: 0%;
  }
  .tree2{
    margin-top: 0%;
  }
  .mountains1{
    margin-top: 0%;
  }
}