
/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
/*░██████╗░░█████╗░██████╗░░█████╗░██╗░░░░░██╗░░░░░░█████╗░██╗░░██╗░
/*░██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║░░░░░██║░░░░░██╔══██╗╚██╗██╔╝░
/*░██████╔╝███████║██████╔╝███████║██║░░░░░██║░░░░░███████║░╚███╔╝░░
/*░██╔═══╝░██╔══██║██╔══██╗██╔══██║██║░░░░░██║░░░░░██╔══██║░██╔██╗░░
/*░██║░░░░░██║░░██║██║░░██║██║░░██║███████╗███████╗██║░░██║██╔╝╚██╗░
/*░╚═╝░░░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝░
/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
/*
/*          -------- PARALLAX CSS --------
/*
/*  */

.staticBox{
    position: relative;
    top: 30vh;
    margin-top: 15%;
  }
.static{
    width: 100%;
}
.mtn{ 
    margin-top: 55%;
    z-index: 0;
}
.staticTree{
    margin-top: -50%;
    margin-left: auto;
    right: 0;
    width: 40%;
    z-index: 10 !important;
}
.staticTree2{
    margin-top: -45%;
    z-index: 10 !important;
}
@media (min-width: 700px){
    .StaticBox{
        display: none;
    }
}