/*900 750 500 400*/
@media (min-width: 900px) {
    .header1, .header2{
        font-size: 150px;
    }
    .titlesWhitetoRed{
        font-size: 24pt ;
    }
    .paralaxBox{
        margin-top: 35%;
      }
      .RedBG1{
        height: 80vw;
      }
}
@media (max-width: 900px) {
  .header, .header1, .header2{
        font-size: 100px;
    }
    .header2{
        margin-top: 185px;
    }
    .titlesWhitetoRed{
        font-size: 24pt ;
    }
    .paralaxBox{
        margin-top: 30%;
      }
      .RedBG1{
        height: 80vw;
      }
      .RedBG2{
        height: 20vw;
      }
      .containSub  {
        margin: auto;
       }
       h3{
        font-size: 35px !important;
        width: 60% !important;
      }
      button{
        width: 25% !important;
        margin: 2% !important;
      }
      .TF{
        width: 100% !important;
    
      }
}

@media (max-width: 750px) {
    .header, .header1, .header2{
        font-size: 85px !important;
    }
    
    .header2{
        margin-top: 165px;
    }
    .titlesWhitetoRed{
        font-size: 28pt ;
    }
    .paralaxBox{
        margin-top: 50%;
      }
      .image, .imageSub {
       margin: auto;
       height: 80% !important;
      }
      .L,.R{
        margin:auto;
        margin-top: 10px;
      }
      .imgFlex, .imgFlexSub {
        width: 100%;
          display:block !important;
     }
     .contain, .containSub  {
      width: 75% !important;;
    }
    h3{
      font-size: 20px !important;
      width: 60% !important;
    }
    button{
      width: 30% !important;
      margin: 2% !important;
    }
    .TF{
      margin: 10px;
      padding: 10px;
      width: 100% !important;
  
    }
    
}

@media (max-width: 600px) {
  .header, .header1, .header2{
        font-size: 55px !important;
    }
    .header2{
        margin-top: 125px;
    }
    .titlesWhitetoRed{
        font-size: 20pt ;
    }
    h5{
        font-size: 45px !important;
      }
    .imgFlex, .imgFlexSub {
         width: 100% !important;
           display:block;
      }
      .L,.R{
        margin:auto;
        margin-top: 10px;
      }
      .contain, .containSub  {
        width: 75%;
      }
      .SubP{
        width: 75% !important; 
        font-size: 16px !important;
      }
      .FooterText{
        font-size: 16px !important;
      }
      h3{
        font-size: 20px !important;
        width: 60% !important;
      }
      button{
        margin: 20px auto auto auto !important;
        width: 190px !important;
        display: block !important;
      }

}
@media (max-width: 500px) {
    .header1, .header2{
        font-size: 55px;
    }
    .header2{
        margin-top: 125px;
    }
    .titlesWhitetoRed{
        font-size: 18pt ;
    }
    .paralaxBox{
        margin-top: 70%;
      }
    .RedBG1{
        height: 80vw;
      }
      .externalspacertest{
        height: 300px;
      }
      h5{
        font-size: 2.5em !important; /*Trying out other unit*/
      }
      .tree3{
        margin-top: 0%;
      }
    
}
@media (max-width: 400px) {
    .header1, .header2{
        font-size: 55px;
    }
    .header2{
        margin-top: 125px;
    }
    .titlesWhitetoRed{
        font-size: 18pt ;
    }
    .paralaxBox{
        margin-top: 70%;
      }
      .RedBG1{
        height: 90vw;
      }
      .RedBG2{
        height: 20vw;
      }
      .externalspacertest{
        height: 250px;
      }
      h5{
        font-size: 2em !important;
      }
      .tree3{
        margin-top: 0%;
      }
}