@font-face {
  font-family: loos-wide;
  font-style: normal;
  font-weight: 200;
  src: url(https://use.typekit.net/gze6yme.css);
}
@import url("https://use.typekit.net/gze6yme.css");
@font-face {
font-family: eloquent-jf-pro;
font-weight: 400;
font-style: italic;
src: url(https://use.typekit.net/gze6yme.css);
}
:root {
  --Background-color: #FEF6F4;
  --Black: #000000;
  --red: #F62E2E;
  --White: #FFFFFF;
  --Redish: ##335C64;

}
