:root {
    --Background-color: #FEF6F4;
    --Black: #000000;
    --red: #F62E2E;
    --White: #FFFFFF;
    --Redish: #CD2E2C;
  
  }
.sticky-nav {
    position: relative;
    transition: top 0.3s;
    z-index: 12;
    display: hidden;
  }
  
  .stickya {
    display: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--Redish);
    color: white;
    z-index: 12;
    /* Add any other styles you want for the sticky navigation */
  }
  
  .stop-div {
    /* Style your stop element here, such as setting its height or padding */
  }