@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
:root {
  --Background-color: #FEF6F4;
  --Black: #222222;
  --red: #F62E2E;
  --White: #FFFFFF;
  --Redish: #335C64;

}
@import url("https://use.typekit.net/gze6yme.css");
@font-face {
font-family: eloquent-jf-pro;
font-weight: 400;
font-style: italic;
src: url(https://use.typekit.net/gze6yme.css);
}
@font-face {
  font-family: loos-wide;
  font-style: normal;
  font-weight: 200;
  src: url(https://use.typekit.net/gze6yme.css);
}

.center {
  text-align: center;
  padding: 10px;
}

.header{
  font-weight: 700;
  text-transform: uppercase;
    font-family: Poppins;
    font-size: 95px;
    color: var(--Black);
    margin-top: 120px;
  }
  .SubP{
   width: 50%;
   margin: auto; 
   font-size: 20px;
   margin-bottom: 60px;
   position: relative;
   font-weight: 400;
   text-transform: none;
   font-family: Poppins;
   color: var(--Dark);
  }

  .imgFlexSub {
    width: 100%;
    display: flex;
  }
  .containSub {
    position: relative;
    width: 100%;
  }
  .imageSub{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%/3 !important;
    transition: .5s ease;
    backface-visibility: hidden;
    flex: 1 0 auto;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
    border-radius: 15px;
    padding: 10px;
  }
  .imagesSub{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%/3 !important;
    transition: .5s ease;
    backface-visibility: hidden;
    flex: 1 0 auto;
    object-fit: cover;
    border-radius: 15px;
    padding: 10px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .GocodeLogo{
    margin: 2%;
    margin-top: -60px;
    padding: 10px;
    width: 20%;
    display:inline-block;
  }
  .GocodeType{
    font-style: normal;
    font-family: loos-wide;
    font-size: 40px;
    color: var(--black);
    display:inline-block;
    width: 50%;
    
    padding: 10px;
  }
  button{
    width: 20%;
    margin: 5%;
    display: inline-block;
    height: 3em;
    color: var(--Background-color);
    background-color: var(--Redish);
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-family: loos-wide;
  }
  .TF{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 40%;

  }
  hr{
    border: 1px var(--Redish);
    width: 90%;
    height: 2px;
    background-color: var(--Redish);
    opacity: 50%;
    margin: auto;
  }
  .col{width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; display: inline-flex;}
  .row{width: 100%; height: 100%; padding: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex;}
  .img{border-radius: 20px;flex: 1 1 0; align-self: stretch; width: 100%; height: 100%; aspect-ratio: 1/1; object-fit: cover;}

  @media screen and (max-width: 500px) {

  .col{display: block;}
  }