@font-face {
    font-family: loos-wide;
    font-style: normal;
    font-weight: 200;
    src: url(https://use.typekit.net/gze6yme.css);
  }
  @import url("https://use.typekit.net/gze6yme.css");
@font-face {
font-family: eloquent-jf-pro;
font-weight: 400;
font-style: italic;
src: url(https://use.typekit.net/gze6yme.css);
}
:root {
    --Background-color: #FEF6F4;
    --Black: #000000;
    --red: #F62E2E;
    --White: #FFFFFF;
    --Redish: #335C64;
  
  }
  .stickyb {
    visibility: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: var(--Background-color);
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);*/
    z-index: 13;
  }
  
  .stop-div {
    /* Style your stop element here, such as setting its height or padding */
  }
  @media screen and (min-width: 750px) {
.dropdown-b {
    position: relative;
    display: inline-block;
  }
  .hamburger-b {
    display: none;
  }
  
  .dropdown-content-b {
    display: none;
    position: absolute;
    background-color: rgb(255, 240, 240);
    min-width: 160px;
    z-index: 12;
  }
  .dropdownItem-b{
    text-decoration: none;
    color: var(--Redish);
    font-style: normal;
    font-family: loos-wide;
    font-size: 20px;
    padding-top: 2px;
  }
  /* Add styling for dropdown links */
  .dropdown-content-b a {
    padding: 5px 15px;
    font-size: 18px;
    color: var(--Black);
    text-decoration: none;
    display: block;
  }
  
  /* Highlight the dropdown links on hover */
  ul {
    list-style: none;
    display: flex; /* Use flexbox to make it horizontal */
    justify-content:flex-start; /* Space items evenly */
    padding: 0;
    margin: 0;
    margin-left: 1% !important;
  }
  
  li {
    margin: 0;
    padding: 5px;
  }
  .Home-b{
    text-decoration: none !important;
    color: var(--Redish);
    font-style: normal;
    font-family: eloquent-jf-pro;
    font-size: 24px;
  }
  ul a[href*="#Topb"] {
    text-decoration: none !important;
    color: var(--Redish);
    font-style: normal;
    font-family: loos-wide;
    font-size: 20px;
    padding: 5px;
  }
  a:hover[href*="#Topb"]{
    color: var(--Black);
  }
  .Home-b:hover{
    color: var(--Redish);
  }
  /* Style the dropdown */
  .dropdown-b:hover .dropdown-content-b {
    display: block;
  }
  .dropdown-content-b a:hover {
    background-color: #ffd2d2;
    color: var(--Black);
  }
  }
  @media screen and (max-width: 770px) {
    ul a[href*="#Topb"] {
      text-decoration: none !important;
      color: var(--Redish);
      font-style: normal;
      font-family: loos-wide;
      font-size: 19px;
      padding: 5px;
    }
  }
  @media screen and (max-width: 750px) {
    .nav-header-b {
      display: flex;
      width: 40px;
      height: 40px;
      align-items: center;

    }
    .stickyb {
      width: 40px;
      background-color: transparent;
    }
    ul{
        display:block;
        margin-left: 0% !important;
    }

    .hamburger-b {
      display: block;
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin-left: 2%;
      margin: 2px;
      z-index: 13;
    }

    .hamburger-b .bar-b {
      width: 30px;
      height: 4px;
      background-color: var(--Redish);
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 5px;
    }

    .hamburger-b.open .bar-b{
        width: 30px;
        height: 4px;
        background-color: var(--Black);
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 5px;
      }
    .hamburger-b.open .bar-b:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-b.open .bar-b:nth-child(2) {
      opacity: 0;
    }

    .hamburger-b.open .bar-b:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-links-b {
        /* New styles for popping out from the left */
        transform: translateX(-150%);
        transition: transform 0.5s ease-in-out;
        position: fixed;
        margin-top: 0px;
        padding-top: 40px;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: var(--Background-color);
        width: 100%; /* Adjust the width as needed */
        z-index: 12;
        text-align: center;
        height: 100vh;
      }
  
      .nav-links-b.open {
        transform: translateX(0);
        margin-top: 0px;
      }

    .nav-links-b li {
      padding: 20px;
    }

    .nav-links-b a {
      color: var(--Redish);
      text-decoration: none;
    }
  
    .dropdown-content-b {
        display: none;
        min-width: 160px;
        z-index: 12;
      }
      .dropdownItem-b{
        text-decoration: none;
        color: var(--Redish);
        font-style: normal;
        font-family: loos-wide;
        font-size: 20px;
        padding-top: 2px;
      }
      /* Add styling for dropdown links */
      .dropdown-content-b a {
        padding: 5px 15px;
        font-size: 18px;
        color: var(--Black);
        text-decoration: none;
        display: block;
      }
      
      /* Highlight the dropdown links on hover */
      ul{
        list-style-type: none;
        display:block;
        margin-left: 0% !important;
        }
      li {
        margin: 0;
        padding: 5px;
      }
      .Home-b{
        text-decoration: none !important;
        color: var(--Redish);
        font-style: normal;
        font-family: eloquent-jf-pro;
        font-size: 24px;
      }
      ul a[href*="#Topb"] {
        text-decoration: none !important;
        color: var(--Redish);
        font-style: normal;
        font-family: loos-wide;
        font-size: 20px;
        padding: 5px;
      }
      a:hover{
        color: var(--Black);
      }
      .Home-b:hover{
        color: var(--Redish);
      }
      /* Style the dropdown */
      .dropdown-b:hover .dropdown-content-b {
        display: block;
      }
      .dropdown-content-b a:hover {
        color: var(--Black);
      }  






}
